@font-face {
  font-family: "VK Sans Text";
  src: url("../fonts/VKSansDisplay-Regular.ttf")
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Semibold.otf")
}

@font-face {
  font-family: "SF UI Text";
  src: url("../fonts/SFUIText-Regular.ttf")
}

.goNextContainer {
  position: fixed;
  bottom: 0;
  height: 76px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  outline: 1px solid gray;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}


.unaciveButton {
  font-family: "VK Sans Text";
  background-color: #F2F4F5;
  font-size: 17px;
  outline: none;
  border: none;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.aciveButton {
  font-family: "VK Sans Text";
  background: linear-gradient(60deg, #D0C018, #FF8562);
  font-size: 17px;
  color: white;
  outline: none;
  border: none;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}